@charset 'utf-8';

@import 'settings';
@import 'foundation';
@import 'motion-ui';

@include foundation-global-styles;
@include foundation-grid;
// @include foundation-flex-grid;
@include foundation-typography;
@include foundation-button;
@include foundation-forms;
@include foundation-range-input;
@include foundation-accordion;
@include foundation-accordion-menu;
@include foundation-badge;
@include foundation-breadcrumbs;
@include foundation-button-group;
@include foundation-callout;
@include foundation-close-button;
@include foundation-menu;
@include foundation-menu-icon;
@include foundation-drilldown-menu;
@include foundation-dropdown;
@include foundation-dropdown-menu;
// @include foundation-flex-video;
@include foundation-label;
@include foundation-media-object;
@include foundation-off-canvas;
@include foundation-orbit;
@include foundation-pagination;
@include foundation-progress-bar;
// @include foundation-progress-element;
// @include foundation-meter-element;
@include foundation-slider;
@include foundation-sticky;
@include foundation-reveal;
@include foundation-switch;
@include foundation-table;
@include foundation-tabs;
@include foundation-thumbnail;
@include foundation-title-bar;
@include foundation-tooltip;
@include foundation-top-bar;
@include foundation-visibility-classes;
@include foundation-float-classes;
// @include foundation-flex-classes;

@include motion-ui-transitions;
@include motion-ui-animations;



/* GENERAL ###################################################################################### */

@media screen and (min-width:978px) {
	.top-bar, #mixes {max-width:978px; display:block; margin:0 auto;}
}

/* NAVIGATION SECTION ########################################################################## */



.navigation, .navigation .top-bar, .navigation ul, .navigation ul a {
	background-color: black;
	color: white;
	border-top-color: white;
	text-transform: uppercase;
}

.navigation li li:hover {
	font-weight: bold;
	color: gray;
}

.navigation .top-bar {
	padding: 0 8px 0 8px;
}

.navigation .top-bar-title {
	display:block; margin:0 auto;
	padding: 12px 16px 12px 16px;
	margin-top: 0.4rem;
}

.navigation .top-bar-title button {
	color: white;
}

#navigation .logo {
	font-size: 22px;
	font-family:Georgia, "Times New Roman", Times, serif;
}

.navigation .top-bar-right {
	font-family:Verdana, Geneva, sans-serif;
	font-size: 14px;
	padding: 12px 16px 0px 16px;
	ul a {
		padding-bottom: 20px;
	}
}

.navigation .dropdown.menu > li.is-dropdown-submenu-parent > a::after {
  border: inset 5px;
  border-top-style: solid;
  border-color: white transparent transparent;
  right: 10px;
  margin-top: -5px; }



/* HERO SECTION ################################################################################ */

.hero img {
	width: 100%;
}

/*#cover-image img {
	position: relative;
	width: 100%;
	max-height: 600px;
	overflow: hidden;
	vertical-align: middle; 
	object-position: center;
	object-fit: none;
	background-color: black;
	min-height: 100%;
	min-width: 100%;
}*/



/* MIXES SECTION ################################################################################ */

.main {
	background-color: black;
	color: white;
	padding: 40px 0 40px 0;
	#mixes {
		font-family:Verdana, Geneva, sans-serif;
		h2 {
			text-align: center;
			margin-bottom: 10px;
			color: white;
		}
		h4, h5 {
			text-align: center;
			margin-bottom: 0px;
		}
		.underline {
			border-style: solid;
			border-width: 0 0 1px 0;
			border-color: white;
			margin-bottom: 10px;
		}
		.cd {
			margin-top: 10px;
		}
		li {
			font-size: 10px;
		}
		img {
			cursor: pointer;
			opacity: 0.5;
			padding: 5px;
			border: inset 2px;
			border-top-style: solid;
			border-color: white;

			/*transition: opacity 0.3s;*/
		}
	}
}

/* AUDIO PLAYER SECTION ################################################################################ */
.clearfix {
	clear:both;
}

/*#audio-player-whole {
	width: 330px;
	min-height: 400px;
	background:#333;
	overflow: auto;
	margin: 60px auto;
	border:#666 solid 2px;
	-moz-border-radius:10px;
	-webkit-border-radius:10px;
	border-radius: 10px;
}*/

#audio-player-hyperion .row, #audio-player-dark-matter .row, #audio-player-to-sunrise .row {
	margin-right: 0px;
	margin-left: 0px;
}

#hyperion-playlist, #dark-matter-playlist, #to-sunrise-playlist {
	display: none;
}

#audio-player-hyperion .expanded, #audio-player-dark-matter .expanded, #audio-player-to-sunrise .expanded {
	width: 125%;
}

#audio-info {
	text-align: center;
	.artist {
		font-weight: bolder;
	}
}

#audio-info .artist {
	/*font-weight: bold;*/
}

#audio-player .slider {
	margin-bottom: 1.5rem;
	margin-top: 1.5rem;
}
/*
input#volume {
	width: 95%;
	margin-left: 2%;
	background: gray;
	height: 1px;
	margin-bottom: 20px;
}

input#volume::-webkit-slider-thumb{
	-webkit-appearance: none !important;
	background:url(../images/knob.png) no-repeat;
	height: 12px;
	width: 12px;
}
*/
#sliderOutput2 {
	background-color: black;
	color: black;
}

#playlist {
	list-style: none;
	padding: 10px;
}

#playlist li {
	cursor: pointer;
	margin:5px;
}

#playlist li:hover {
	font-weight: bold;
	color: gray;
}

#playlist li.active {
	font-weight: bold;
	padding: 3px;
	background:#666;
}

#tracker {
	position: relative;
	/*width: 100%;*/
}

#tracker .columns, #time-tracker .columns, #duration-shell .columns {
	padding: 0px;
	padding-bottom: 0px;
	padding-top: 0px;
}

#progressbar {
	cursor: pointer;
	width: 95%;
	height: 8px;
	border-style: double;
	border-radius: 5px;
	border-color: gray;
	border-width: 2px;
	background-color: white;
	float: left;
	box-sizing: content-box;
	margin-bottom: 10px;
	margin-top: 6px;
}

#progress{
	background: #1779ba;
	height: 8px;
	border-radius: 2px;
	display: inline-block;
	position: absolute;
	/*margin-top: 6px;*/
}

#duration {
	top:0;
	/*right: 10px;*/
	padding: 0px 8px;
	background:#000;
	-moz-border-radius:5px;
	-webkit-border-radius:5px;
	border-radius: 5px;
}


#playlist-button {
	margin: 20px 0; 
	.pull-me {
		/*display:block;*/
		margin: auto;
	    width:100px;
		font-family:Verdana, Geneva, sans-serif;

	    -moz-border-top-left-radius:5px;
	    -moz-border-top-right-radius:5px;
	    border-top-left-radius:5px;
	    border-top-right-radius:5px;
	    h5 {
			line-height: 0;
			font-size: 1.0625rem;
		}
	}
	ul {
	margin-left: 0px;
	border-style: solid;
	border-radius: 0px;
	border-color: #1779ba;
	border-width: 2px;
	margin-bottom: 0px;
	}
	hr {
		margin: 0;
		border-color: #1779ba;
	}
}

/* FOOTER SECTION ############################################################################## */
#footer {
	background-color: black;
	color: #1779ba;
	margin: 0px 0;
	li {
		display: inline-block;
		margin-right: 20px;
		float: right;
	}
}



